docker/Volumes/pg-data/*
docker/Volumes/postgres/*
docker/Volumes/airflow/logs/*
docker/Volumes/spark/history/*
docker/Volumes/spark/logs/*
docker/Volumes/airflow/.DS_Store
docker/Volumes/airflow/dags/__pycache__/
docker/Volumes/airflow/dags/example_dag.py
docker/Volumes/spark/.DS_Store
docker/Volumes/spark/app/.DS_Store
docker/Volumes/spark/app/etl_process_local.py
docker/Volumes/spark/app/main.py
docker/Volumes/spark/app/test_spark_summit.py
docker/Volumes/spark/resources/data_sample/
docker/Volumes/spark/resources/data_sample/*.parquet
